.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 19px 24px;
}

.navbar-links {
    display: none;
}
.navbar-right, .navbar-left {
    display: flex;
    align-items: center;
}

.navbar-right {
    gap: 22px;
}

.navbar-left {
    gap: 16px;
}

.menu-mobile {
    width: 16px;
    height: 15px;
}